*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

table {
  border-color: currentcolor;
}

#root,
#__next {
  isolation: isolate;
}

html {
  height: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #70712e;
  color: #463f3a;
}

body {
  height: 100vh;
  padding-top: 20px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

