*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

table {
  border-color: currentcolor;
}

#root,
#__next {
  isolation: isolate;
}

html {
  height: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #70712e;
  color: #463f3a;
}

body {
  height: 100vh;
  padding-top: 20px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #463f3a;
  border-radius: 10px;
  position: relative;
  max-width: 600px;
  margin: 0px auto 20px auto;
}

.tabs button {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
  color: #faf0ca;
}

.tabs .active {
  background: #a93a3a;
  height: calc(100% - 10px);
  width: calc(33% - 10px);
  position: absolute;
  top: 5px;
  left: 0;
  transform: translateX(5px);
  border-radius: inherit;
  box-shadow: 0 2px 2px #392828;
  transition: all 100ms;
}


#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: clamp(180px, 50vw, 700px);
}

.presentation h1 {
  margin-top: 120px;
  margin-bottom: 20px;
  font-family: "Noto Serif TC", serif;
  font-weight: 600;
  font-size: 68px;
}

.presentation p {
  text-align: center;
  white-space: pre-line;
  font-size: 15px;
}

.food-card,
.beverage-card,
.contact-card {
  background-color: #ede5d9;
  border-radius: 10px;
  padding: 28px;
  box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container,
.contactContainer {
  width: clamp(180px, 50vw, 800px);
}

.card-container h2 {
  font-family: "Noto Serif TC", serif;
  text-align: center;
  margin: 15px 0px;
  font-size: 45px;
  color: #f3ebe0;
}

#menu-food-section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
  grid-auto-rows: 1fr;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.1);
}

.food-card p:last-child,
.beverage-card p:last-child {
  margin-top: auto;
}

.description,
.food-card h4,
.beverage-card h4 {
  text-align: center;
}

.description {
  font-size: 14px;
  margin: 5px 0px;
}

.food-card h4 {
  margin-top: 10px;
  color: #a93a3a;
}

.beverage-card h4 {
  margin-top: 10px;
  color: #ba4353;
}

.food-card p:last-child,
.beverage-card p:last-child {
  padding: 5px 8px;
  border-radius: 10px;
  color: #ede5d9;
  box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.1);
}

.food-card p:last-child {
  background-color: #a93a3a;
}

.beverage-card p:last-child {
  background-color: #ba4353;
}
.beverage-card img {
  width: 160px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
}

#menu-drink-section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-auto-rows: 1fr;
  margin-bottom: 30px;
}

.contactContainer p,
.contact-card p {
  white-space: pre-line;
}

.contact-cards-div {
  display: grid;
  gap: 20px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.homepage-img {
  height: 100vh;
  background-image: url("https://www.travelandleisure.com/thmb/8z95bf6yaGn0hTm3jzLhslOQYYg=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/TAL-lake-como-italy-recirc-ITALYTAX24-12545c3a6e544240a674f603c9a0d21a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.homepage-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #305c7d;
  opacity: 0.6;
  z-index: 1;
}

.homepage-img h1,
.homepage-img p,
.homepage-img header {
  position: relative;
  z-index: 2;
}

.homepage-img p {
  color: #f5f3ef;
}

.homepage-img h1 {
  color: #faf0ca;
}


.contactContainer h1,
.contactContainer p {
  text-align: center;
}

.contactContainer h1 {
  margin: 12px;
  font-size: 48px;
  color: #ede5d9;
}

.contactContainer h1 + p {
  margin-bottom: 30px;
  color: #ede5d9;
}

.contactContainer h1 + p:last-child{
  color: #ba4353;
}

.highlight{
  color: #ede5d9;
  font-weight: 600;
  font-size: 22px;
  background-color: #ba4353;
  padding: 5px 8px;
  border-radius: 15px;
}

.contact-card{
  justify-content: center;
}

.contact-card p {
  margin-top: 8px;
  font-size: 15px;
}

.material-icons{
  color: #a93a3a;
}